In [218]:
import pandas as pd
import numpy as np

In [235]:
df = pd.read_csv('./1-pandas_in/jiazaishanghai.csv')

In [220]:
df.shape

# 17,204 rows

(17204, 13)

In [221]:
df['use_type'].unique()

array(['住宅', '工作室', '商用', '住宅/工作室', '商铺', nan, '写字楼', '厂房/仓库'],
      dtype=object)

In [222]:
# remove all use types except residential, residential/work space, and not specified

df.drop(df.loc[df['use_type'] =='工作室'].index, inplace=True)
df.drop(df.loc[df['use_type'] =='商用'].index, inplace=True)
df.drop(df.loc[df['use_type'] =='商铺'].index, inplace=True)
df.drop(df.loc[df['use_type'] =='写字楼'].index, inplace=True)
df.drop(df.loc[df['use_type'] =='厂房/仓库'].index, inplace=True)

In [223]:
df['use_type'].unique()

array(['住宅', '住宅/工作室', nan], dtype=object)

In [224]:
df.shape

# 16,776 rows

(16776, 13)

In [225]:
df['building_type'].unique()

array(['新公寓', '老公寓', '新式里弄', '老洋房', '老公房', nan, '别墅'], dtype=object)

In [226]:
# remove all building types except for detached lane house, attached lane house, public apt, and villa

df.drop(df.loc[df['building_type'] == '新公寓'].index, inplace=True)
df.drop(df.loc[df['building_type'] == '老公寓'].index, inplace=True)

In [227]:
df.shape

# 6,6731 rows

(6731, 13)

In [228]:
# remove unncessary part of address

df['address'] = df['address'].map(lambda x: x.replace('家在上海',''))

In [229]:
# keep the first (most recent) occurance of an address -- should be the lowest, most recent rent change for that address

df.drop_duplicates(subset=('address'),inplace=True)

In [230]:
df.shape

# 4,765 rows

(4765, 13)

In [231]:
df['address']

4        永康路37弄32号二楼朝南间
27           建国西路56弄35号
34          五原路87弄9号102
35           宛平路6弄3号101
36        建国西路384弄1号福禄邨
              ...
17192              金桂苑路
17193              锦汇苑路
17195             乾骏大厦路
17198             金浦大楼路
17203            康健路51弄
Name: address, Length: 4765, dtype: object

In [232]:
# remove unnecessary parts of address

def hao(x):
    '''
    looks at address 'x'
    splits the address at the street number
    then adds the separator back on
    
    if no street number just returns original address
    as list
    '''
    
    sep = '号'
    if sep in x:
        return [x+sep for x in x.split(sep)]
    else:
        return [x]

In [233]:
# use function

df['address_translate'] = df['address'].map(lambda x: hao(x))

In [234]:
# grab the first part of address that we want

df['address_translate'] = df['address_translate'].map(lambda x: str(x[0]))

In [188]:
# check result

df[['address_translate']]

      address_translate
4             永康路37弄32号
27           建国西路56弄35号
34             五原路87弄9号
35              宛平路6弄3号
36           建国西路384弄1号
...                 ...
17192              金桂苑路
17193              锦汇苑路
17195             乾骏大厦路
17198             金浦大楼路
17203            康健路51弄

[4765 rows x 1 columns]

In [191]:
# delete this specific row without an address

df.drop(df.loc[df['address']=='没有地址'].index,inplace=True)

In [192]:
df.shape

(4764, 14)

In [189]:
# df.to_csv('./2-pandas_out-sheets_in/jiazaishanghai_sheets.csv')

In [518]:
df2 = pd.read_csv('./3-sheets_out/jiazaishanghai_sheets_eda_cleaner.csv')

In [519]:
df2.shape

# 3,964 rows

(3964, 36)

In [520]:
df2.columns

Index(['original_index', 'rental_period_del', 'floor_del', 'not_lane_del',
       'neighborhood', 'complex_name', 'city', 'district', 'address',
       'district_del', 'city_del', 'rent', 'bedrooms', 'living-dining',
       'bathrooms', 'loft', 'descript', 'sqmeters', 'entire_building',
       'use_type', 'use_type_en', 'building_type', 'public_housing',
       'detatched_lanehouse', 'attached_lanehouse', 'villa', 'type_not_listed',
       'amenities', 'heat', 'ac', 'balcony', 'WIFI', 'outdoor_space',
       'bathtub', 'floor_heat', 'oven'],
      dtype='object')

In [521]:
# drop unneeded working columns from sheets

df2.drop(columns=['district_del','city_del','rental_period_del','floor_del','use_type','not_lane_del'],axis=1,inplace=True)

In [522]:
# drop rows with null values in the following fields:

df2.dropna(subset=['amenities','descript','building_type'], inplace=True)

In [523]:
# drop extremely low rent amounts that don't make sense, and low rent amounts with high bedroom count

df2.drop(df2.loc[(df2['rent'] < 2500)].index,inplace=True)
df2.drop(df2.loc[(df2['rent'] < 3000) & (df2['bedrooms'] >= 2)].index,inplace=True) 
df2.drop(df2.loc[((df2['rent'] > 3000) & (df2['rent'] < 5000)) & (df2['bedrooms'] > 2)].index, inplace=True)

# drop low rents that claim to be entire buildings
df2.drop(df2.loc[(df2['rent'] < 10000) & (df2['entire_building'] == 1)].index, inplace=True)

In [524]:
# drop extremely high rent amounts, and high rent amounts that do not list as entire building

df2.drop(df2.loc[(df2['rent'] > 100000 ) & (df2['bedrooms'] < 4)].index,inplace=True)
df2.drop(df2.loc[(df2['rent'] > 200000 ) & (df2['entire_building'] == 0)].index,inplace=True)

In [529]:
df2.drop(df2.loc[df2['sqmeters'] > 600].index,inplace=True)
df2.drop(df2.loc[df2['sqmeters'] == 0].index,inplace=True)

In [536]:
df2.shape

#2,656 rows

(2656, 30)

In [537]:
df2.sort_values(['rent'],ascending=True,inplace=True)

In [538]:
# drop dups, keep lowest rent

df2.drop_duplicates(subset=['address','descript','bedrooms','bathrooms'],inplace=True)
df2.drop_duplicates(subset=['address','descript','rent'],inplace=True)

In [539]:
df2.shape

# 2,608

(2608, 30)

In [540]:
df2['total_amens'] = df2[['heat','ac','balcony','WIFI','outdoor_space','bathtub','floor_heat','oven']].sum(axis=1)

In [541]:
df_geocode = df2[['city','district','address']]
df_geocode.to_csv('./2-pandas_out-sheets_in/to_geocode_jiazaishanghai_sheets_eda_cleaner_deduped.csv',index=False)

In [542]:
df2.columns

Index(['original_index', 'neighborhood', 'complex_name', 'city', 'district',
       'address', 'rent', 'bedrooms', 'living-dining', 'bathrooms', 'loft',
       'descript', 'sqmeters', 'entire_building', 'use_type_en',
       'building_type', 'public_housing', 'detatched_lanehouse',
       'attached_lanehouse', 'villa', 'type_not_listed', 'amenities', 'heat',
       'ac', 'balcony', 'WIFI', 'outdoor_space', 'bathtub', 'floor_heat',
       'oven', 'total_amens'],
      dtype='object')

In [553]:
df2.building_type.value_counts()

新式里弄    926
老洋房     905
老公房     674
别墅      103
Name: building_type, dtype: int64

In [554]:
df_working = df2[['district', 'address', 'rent', 'bedrooms', 'living-dining', 'bathrooms','loft', 'sqmeters', 'entire_building',
                  'building_type','use_type_en',
                  'heat', 'ac', 'balcony', 'WIFI','outdoor_space','bathtub','floor_heat','oven','total_amens']]

In [555]:
district_map = {'嘉定区':'Jiading',
                '宝山区':'Baoshan',
                '徐汇区':'Xuhui',
                '普陀区':'Putuo',
                '杨浦区':'Yangpu',
                '浦东区':'Pudong',
                '虹口区':'Hongkou',
                '长宁区':'Changning',
                '闵行区':'Minhang',
                '闸北区':'Zhabei',
                '青浦区':'Qingpu',
                '静安区':"Jing'an",
                '黄浦区':'Huangpu'}

In [556]:
building_map = {'老洋房':'detached lane house','新式里弄': 'attached lane house','别墅':'villa','老公房':'public housing'}

In [557]:
df_working['district'] = df_working['district'].map(district_map)
df_working['building_type'] = df_working['building_type'].map(building_map)

<ipython-input-557-20a619c783bc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_working['district'] = df_working['district'].map(district_map)
<ipython-input-557-20a619c783bc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_working['building_type'] = df_working['building_type'].map(building_map)

In [560]:
df_working.district.value_counts()

Xuhui        1132
Huangpu       541
Jing'an       512
Changning     233
Pudong         86
Putuo          31
Minhang        25
Qingpu         20
Baoshan         8
Hongkou         5
Zhabei          4
Yangpu          3
Jiading         2
Name: district, dtype: int64

In [559]:
df_working.to_csv('./2-pandas_out-sheets_in/for_tableau.csv',index=False)